# Vercel AI Gateway (https://vercel.com/ai-gateway)
NUXT_AI_GATEWAY_API_KEY=""
# Basic cookie auth for server-side routes
NUXT_AUTH_USER="admin"
NUXT_AUTH_PASSWORD="secret"
DATABASE_URL="file:./sqlite/drizzle.db"